{% extends 'base.html.twig' %}

{% block title %}Teens'Up{% endblock %}

{% block body %}

<section class="section">
<div class="div_svg">
{% set nombre = 1 %}
  <img id="svg" class="svg" src="{{ asset('/assets/svg/3.svg') }}">
</div>
<div class="index_paragraphe">
  <h2>Trouve des partenaires de sport autour de toi !</h2>
  <a href="/login">Connecte toi</a>
</div>
</section>
<div class="position" id="infoposition"></div>

<script>
function maPosition(position) {
  var infopos = position.coords.latitude +";"+position.coords.longitude;
  document.getElementById("infoposition").innerHTML = infopos;
}
if(navigator.geolocation)
  navigator.geolocation.getCurrentPosition(maPosition);

function randomSVG(){
    let svg = document.querySelector("#svg")
    let nombre = Math.floor(Math.random() * (4 - 1 + 1)) + 1;
    let chemin = "../public/assets/svg/" + nombre + ".svg')"
    console.log(chemin)
    svg.src = chemin
}

</script>
{% endblock %}
