{{ form_start(form, {'action': path('messages_new', {'id': conversation.id})}) }}
    {{ form_widget(form) }}
    <button class="boutton boutton_send"><img src='{{ asset('/assets/svg/send.svg') }}'></button>
{{ form_end(form) }}
