{% extends 'base.html.twig' %}

{% block title %}Conversations index{% endblock %}

{% block body %}
<h2 class="conversation-titre">Conversations</h2>

<br></br>

{% for conversation in app.user.conversations %}
<hr>
<div class="conversations-div">
    {% for user in conversation.users %}
        {% if user != app.user %}
        
            <a href='{{ path('conversations_show', {'id': conversation.id}) }}'>
               
                <h2 class="conversation-prenom">{{user.prenom}}</h2>
               
            <p class="conversation-message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        
        </a>
        {% endif %}
        
    {% endfor %}

<hr>
</div>
{% endfor %}
{% endblock %}
