:root{
    --degrade: linear-gradient(270deg, #824487 0%, #544D85 100%);
}
.header{
    position: relative;
    overflow: hidden;
    display: flex;
}
.header_circle{
    width: 100%;
    height: 20vh;
    background: var(--degrade);
    border-radius: 100%;
    transform: translateY(-50%);
    
}

.header_div{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 10%;
}

.header_div h1{
    text-transform: uppercase;
    color: white;
    font-size: 4.2rem;
    font-family: 'Mitr', sans-serif;
    text-align: center;
}
.section{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_svg{
    background-color: #E5F2DE;
    border-radius: 100%;
}

.svg{
    height: 750px;
    width: 750px;
}
.index_paragraphe{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.index_paragraphe h2{
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.boutton{
    font-family: 'Montserrat', sans-serif;
    background: var(--degrade);
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    margin: 5rem;
    font-size: 3rem;
    margin-top: 1em;
}

.boutton.disabled{
    background: linear-gradient(270deg, #777777 0%, #929292 100%);    
    cursor:default;
}

.position{
    display: none;
}

.section_login{
    justify-content: space-around
}

.section_login h2, .section_edit h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 25%;
}

.login_form, .register_form.active{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
}
.register_form, .btn{
    display: none;
}
.btn.active{
    display: flex;
}
.form_div{
    display: flex;
    align-items: flex-end;
    margin: 2rem;
}
.form_div img{
    width: 3rem;
    margin-right: 2rem;
}
.label_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 25rem;
    overflow: hidden;
    height: 8rem;
}

.label_div input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    font-size: 2rem;
}

.label_div label{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    height: 100%;
    border-bottom: solid black 1px;
}

.label_div label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: solid #824487 1px;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.content_name{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.5s ease;
}

.label_div input:focus + .label_name .content_name, 
.label_div input:not(:placeholder-shown) + .label_name .content_name{
    transform: translateY(-200%);
    font-size: 2rem;
    color: #824487;
}

.label_div input:focus + .label_name::after, 
.label_div input:not(:placeholder-shown) + .label_name::after{
    transform: translateY(0%);
}

.inscription{
    font-family: "MontSerrat";
    font-size: 2rem;
}

.form_checkbox input[type=checkbox]{
    display: none;
}

.checkbox_label{
    margin: 2rem;
    padding: 1rem;
}

.form_checkbox input:checked + .checkbox_label{
    border: solid black 3px;
}

.slider{
    width: 40rem;
    height: 2rem;
    -webkit-appearance: none;
    background: #B0ADC3;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: 4px solid #824487;
    box-shadow: -407px 0 0 400px #824487;
}

.div_valeur{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date::-webkit-calendar-picker-indicator {
    display: none;
}

.sport{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 25rem;
}

.sportImage{
    width: 8rem;
}

.agree_div{
    position: relative;
}

.agree_checkbox{
    position: absolute;
	left: 0;
	opacity: 0.01;
}

.agree_checkbox + .agree_label{
    position: relative;
	padding-left: 2.3em;
	font-size: 1.05em;
	line-height: 1.7;
	cursor: pointer; 
}

.agree_checkbox:not(:checked) + .agree_label::before{
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border: 1px solid black;
	background: #FFF;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
	transition: all .275s;
}

.agree_checkbox:checked + .agree_label::before{    
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1.4em;
	height: 1.4em;
	border-radius: .2em;
	box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    background: var(--degrade);	
    transition: all .275s;
}
.agree_checkbox:not(:checked) + .agree_label::after,
.agree_checkbox:checked + .agree_label::after{
    content: '✔';
	position: absolute;
	top: 1.05rem;
	left: .3rem;
	font-size: 2rem;
	color: white;
	line-height: 0;
	transition: all .2s;
}

.agree_checkbox:not(:checked) + .agree_label::after{
    opacity: 0;
	transform: scale(0) rotate(45deg);
}

.agree_checkbox:checked + .agree_label::after{
    opacity: 1;
	transform: scale(1) rotate(0);
}

.div_sports{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.myMessage{
    background-color: #824487;
    margin-bottom: 1em;
    color: white;
}
.otherMessage{
    background-color: rgb(189, 189, 189);
    margin-bottom: 1em;
}

.info_perso{
    display: none;
}

.info{
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image_degrade{
    position: relative;
    width: 100%; 
    height: 100%; 
}

.image_degrade:before{  
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.image_profil{
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
}

.image_profil::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black
}

.infos_user{
    position: absolute;
    z-index: 1;
    display: block;
    color: white;
    bottom: 0;
    left: 0;  
    margin: 5rem;
}

.infos_user h3{
    font-size: 3rem;
    font-weight: bold;
}

.infos_user span{
    font-size: 2rem;
}

.user_card:first-child{
    width: 80%; 
    height: 70%; 
    position: relative;
}
.div_totale:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: "MontSerrat";  
    height: 100%;
}

.div_totale:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: "MontSerrat";  
    height: 100%;
    z-index: -2;
    position: absolute
}

.div_totale:nth-child(2) + .div_like{
    display: none
}

.div_totale{
    display: none;
}

.div_totale_like{    
    width: 80%; 
    height: 70%; 
    position: relative;
    -webkit-animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-1000px) translateX(1000px);
              transform: translateY(-1000px) translateX(1000px);
    }
}
  @keyframes slide-tr {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-1000px) translateX(1000px);
              transform: translateY(-1000px) translateX(1000px);
    }
}

@-webkit-keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-1000px) translateX(-1000px);
              transform: translateY(-1000px) translateX(-1000px);
    }
}
  @keyframes slide-tl {
    0% {
      -webkit-transform: translateY(0) translateX(0);
              transform: translateY(0) translateX(0);
    }
    100% {
      -webkit-transform: translateY(-1000px) translateX(-100px);
              transform: translateY(-1000px) translateX(-1000px);
    }
}
  
.div_totale_dislike{    
    width: 80%; 
    height: 70%; 
    position: relative;
    -webkit-animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.div_like{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E3E3E3;
    width: 120vw;
    position: absolute;
    bottom: 0;
    border-radius: 40%;
    transform: translateY(2rem);
}

.div_like img{
    width: 10rem;
    margin: 2.5rem;
    cursor: pointer;
}

.dashboard_section{
    overflow: hidden;
}

.table{
    font-family: "MontSerrat";
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.previous_page{
    position: absolute;
    top: 0;
    left: 5rem;
    color: white;
    font-size: 5rem;
    z-index: 5;
}

.table img{
    width: 95%;
}
.user_infos{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: white;
    box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;    
    justify-content: space-between;
}

.user_titre{
    display: flex;
    
}

.user_prenom, .user_age{
    font-weight: bold;
    font-size: 3rem;
}

.user_description{
    margin-top: 2rem;
    font-size: 1.8rem;
}

.user_administration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_administration .boutton{
    margin: 0;
}

.section_edit{
    justify-content: space-between;
}

.section_edit form:first-child{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.form_edit{
    width: 100%;
    height: 50%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.form_edit div{
    display: flex;
    flex-direction: column;
}