{% extends 'base.html.twig' %} {% block title %}Modifier Profil{% endblock %} {% block body %}
<section class="section section_edit">
<h2>Modifier Profil {{ app.user.prenom }}</h2>


{{ include('users/_form.html.twig') }}
<a class="boutton" href="{{ path('profil') }}">back to list</a>

{{ include("users/_delete_form.html.twig") }}
</section>
{% endblock %}
