{% extends 'base.html.twig' %}

{% block body %}
<section class="section section_login">
    <div class="row mt-4 justify-content-center">
        {% for messages in app.flashes() %}
        {% for message in messages %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% endfor %}
        <div class="col-12 text-center">
            <h2>Changer votre mot de passe</h2>
        </div>
        <!-- Form -->
        <div class="edit_pass_div">
            <form class="edit_pass_form" method='post'>
                <div class="form_div">
                    <div class="label_div label_div_password">
                        <input type="password" name="old_password" id="old_password" class="form-control" placeholder=" " required autofocus />
                        <label class="label_name required" for="old_password">
                            <span class="content_name">Ancien mot de passe</span>
                        </label>
                    </div>
                </div>
                <div class="form_div">
                    <div class="label_div label_div_password">
                        <input type="password" name="new_password" id="new_password" class="form-control" placeholder=" " required autofocus />
                        <label class="label_name required" for="new_password">
                            <span class="content_name">Nouveau mot de passe</span>
                        </label>
                    </div>
                </div>
                <div class="form_div">
                    <div class="label_div label_div_password">
                        <input type="password" name="new_password_confirm" id="new_password_confirm" class="form-control" placeholder=" " required autofocus />
                        <label class="label_name required" for="new_password_confirm">
                            <span class="content_name">Confirmer le mot de passe</span>
                        </label>
                    </div>
                </div>
                <button class="boutton btn-primary">Valider</button>
            </form>
            </div>
        </div>
    </div>

</section>
{% endblock %}